<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us - Best Cars Dealership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
    <h1>Contact Us</h1>
    <p>
        Welcome to Best Cars Dealership. For inquiries, please contact us at the following address and telephone number:
    </p>
    <p>
        Address: 123 Main Street, Cityville<br>
        Telephone: +1 (123) 456-7890
    </p>
    <a href="{% url 'djangoapp:contact' %}">Contact Us</a>
</body>
</html>