<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <!-- Navigation Bar -->

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dealership Review for <span style="font-weight: bold">{{dealer.full_name}}</span></a>
            </div>
            <!-- Add a link to the add_review view for authenticated users -->
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'djangoapp:add_review' dealer.id%}">Add Review</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>

    <!-- Review Cards -->
    <div class="container">
        <div class="row">
            {% for review in reviews %}
                <div class="col-sm-4 mb-4">
                    <div class="card">
                        {% if review.sentiment == 'positive' %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/positive.png" alt="Positive Sentiment" style="max-width: 50px;">
                        {% elif review.sentiment == 'neutral' %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/neutral.png" alt="Neutral Sentiment" style="max-width: 50px;">
                        {% else %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/negative.png" alt="Negative Sentiment" style="max-width: 50px;">
                        {% endif %}
                        <div class="card-body bg-light">
                            <h5 class="card-title font-weight-bold">{{ review.car_make }} {{ review.car_model }} - {{ review.car_year }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted font-weight-bold">{{ review.reviewer_name }}</h6>
                            <p class="card-text">{{ review.review }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    

</body>
</html>